@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --color-dark: #0B0F19; /* Ändra färg här sen */
    --color-primary: #6366F1; /* Ändra färg här sen */
    --color-gray: #9397AD; /* Ändra färg här sen */
    --color-white: #ffffff; /* Ändra färg här sen */

    --container-padding: 1rem;
    --transition-time: all 0.2s;
}

/* ---UTILITYKLASSER--- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}
.wrapper {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.container {
    width: 100%;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    margin-left: auto;
    margin-right: auto;
}

a {
    color: var(--color-primary);
    text-decoration: none;
}

a:hover {
    color: var(--color-primary);
    text-decoration: underline;
}

/* Början av Headern */

header {
    .container {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr auto auto;
        gap: 1.5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

/* Features delen */

.navbar {
    display: none;
}

.nav-link {
    color: var(--color-dark); /* Ändra färg här sen */
    font-weight: 600;
    text-decoration: none;
}

.nav-link:hover {
    color: var(--color-primary);
    text-decoration: underline;
}

.active {
    color: var(--color-primary);
    text-decoration: underline;
}

/* Darkmode slider knapp delen */

.btn-toggle-switch {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    .label {
        display: none;
    }
}

.toggle-switch {
    --_w: 60px;
    --_h: 30px;
    --_ball-size-ratio: .8;

    width: var(--_w);
    height: var(--_h);
    display: inline-block;
    position: relative;

    input[type="checkbox"] {
        width: 0;
        height: 0;
        opacity: 0;
    }

    input[type="checkbox"]:focus-visible + .slider {
        outline: 1px solid var(--color-primary);
        outline-offset: 2px;
    }

    .slider {
        position: absolute;
        inset: 0;
        background-color: #ccc;
        border-radius: 100vw;
        box-shadow: inset 0 0 4px #00000035;
        cursor: pointer;
    }

    .slider::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translateY(-50%);
        height: calc(100% * var(--_ball-size-ratio));
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 0 0 5px #00000073;

        transition: all 400ms;
    }

    input[type="checkbox"]:checked ~ .slider::before {
        left: calc(100% - var(--_h));
        background-color: var(--color-white);
    }
    input[type="checkbox"]:checked ~ .slider {
        background-color: var(--color-primary);
        /* background-color: #ccc; */
        /* background-color: hsl(from var(--color-primary) h calc(s / 2) calc(l + 35)); */
    }

}

/* Sign in knapp */

#loggain {
    display: none;
}

.btn-primary {
    background-color: var(--color-primary); 
    color: var(--color-white);
    border-radius: 8px;
    padding: 12px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.btn-primary:hover {
    background-color: var(--color-gray); /* Ändra färg här sen */
    color: var(--color-white);
    text-decoration: none;
}

.btn-primary img {
    margin-right: 0.5rem;
}

.hamburger-mobile {
    background-color: transparent;
    border: none;
    font-size: 2rem;
}

/* Slutet av headern */

/* Början av Main Section Hero */

#hero-sect {
    background: rgb(99,102,241);
    background: linear-gradient(0deg, rgba(99,102,241,0.1) 0%, rgba(218,70,239,0.05) 42%, rgba(241,244,253,0.07) 83%);

    overflow: hidden;
    padding-bottom: 2rem;
    padding-top: 2rem;

    #break {
        display: block;
    }

    .container {
        display: grid;
        /* grid-template-rows: 1fr;
        grid-template-areas: "headline""content"; */
        /* gap: 3rem; */
    }

    .headline {
        /* grid-area: headline; */
        text-align: center;
        margin-bottom: 1rem;

        h1 {
            font-size: 34px;
            font-weight: 800;
        }
    }

    .content {
        /* grid-area: content; */
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 3rem;

        p {
            font-size: 18px;
        }

        .store-buttons {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        .store {
            background-color: var(--color-dark);
            color: var(--color-white);
            border-radius: 8px;
            padding: 0.6em 1.5em;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;


        }

        .discover-more {
            color: var(--color-dark);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1.5rem;
            font-size: 14px;

        }

        .round-btn {
            background-color: var(--color-white);
            color: var(--color-dark);
            height: 44px;
            width: 44px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .images {
        /* grid-area: images; */
        display: none;
    }

}

/* Slutet av Main Section Hero */

/* Början av Main Section Loggor */

#logos {
    display: none;
    padding-top: 2rem;
    padding-bottom: 2rem;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }
}

.logo-box {
    border: 1px solid var(--color-gray); /* Ändra färg här sen */
    border-radius: 5px;
    height: 100px;
    width: 196px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -2px 2px 5px 0 rgba(0, 0, 0, 0.2);

}

/* Slutet av Main Section Loggor */

/* Början av Main Section How Does It Work */

#how-does-it-work {
    background-color: #F3F6FF;
    padding-top: 4rem;
    padding-bottom: 4rem;
    .container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .break {
        display: none;
    }

    .top-text {
        text-align: center;
        h1 {
            font-size: 30px;
            font-weight: 800;
        }

    }

    .images2 {
        display: flex;
        align-items: center;
        justify-content: center;

        .T-your-cards, 
        .T-transfer1, 
        .T-transfer2, 
        .D-transfer, 
        .D-your-cards, 
        .D-my-budget {
            display: none;
        }
    }

    .bottom-text {
        text-align: center;
        display: grid;
        gap: 1rem;

        .desktop, 
        .tablet {
            display: none;
        }

        h2 {
            font-size: 22px;
            font-weight: 800;
        }

        p {
            font-size: 16px;
        }
    }
}

/* Slutet av Main Section How Does It Work */

/* Början av Main Section 4 */
/* Slutet av Main Section 4 */

/* Början av Footern */

footer {
    font-size: 14px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--color-gray); /* Ändra färg här sen */

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

}

/* Slutet av Footern */

/* Media querries för Tablet */

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    .btn-toggle-switch {
        .label {
            display: block;
        }
    }

    header {
        .container {
            gap: 3rem;
        }
    }

    footer {
        .container {
            flex-direction: row;
        }
    }

    #logos {
        display: block;
    }

    #logo-5, #logo-6 {
        display: none;
    }

    #hero-sect {
        #break {
            display: block;
        }

        .container {
            grid-template-columns: 270px 1fr 1fr;
        }

        .headline {
            margin-top: 1rem;
            margin-bottom: 2rem;
            grid-column: 1 / -1;
            h1 {
                font-size: 44px;
                line-height: 57.6px;
            }
            
        }

        .content {
            text-align: left;
            grid-column: 1 / 2;
            grid-row: 3 / 6;

            p {
                font-size: 18px;
                line-height: 28.8px;
            }
            
            .store-buttons {
                flex-direction: row;
            }

            .store {
                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .discover-more {
                justify-content: flex-start;
                margin-bottom: 3rem;
            }


        }

        .images {
            display: block;
            grid-column: 2 / 4;
            grid-row: 2 / 6;
            
            .img-whole {
                width: 100%;
                height: 100%;
            }
        }
    }

    #how-does-it-work {
        
        .container {
            gap: 3rem;
        }
        
        .break {
            display: block;
        }

        .top-text {
            h1 {
                font-size: 33px;
            }
        }

        .images2 {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            .T-transfer1, 
            .T-your-cards, 
            .T-transfer2 {
                display: block;
            }
            .M-transfer {
                display: none;
            }

            img {
                width: 100%;
                height: 100%;
            }

        }

        .bottom-text {
            h2 {
                font-size: 23px;
            }

            .desktop,
            .phone {
                display: none;
            }
            
            .tablet {
                display: block;
            }
        }
    }

}

/* Media querries för Desktop */

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }

    header {
        .container {
            grid-template-columns: auto 1fr auto auto;
            gap: 3rem;
            margin-bottom: 4rem;
        }
    }

    #loggain {
        display: block;
    }

    .hamburger-mobile {
        display: none;
    }

    .navbar {
        display: block;
    }

    #logo-5, #logo-6 {
        display: flex;
    }

    #hero-sect {
        #break {
            display: block;
        }

        .container {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto 1fr;
            gap: 2rem;

        }

        .headline {
            margin-top: 2.5rem;
            margin-bottom: 0;
            grid-column: 1;
            grid-row: 1;
            h1 {
                font-size: 56px;
                text-align: left;
                line-height: 130%;
            }
            
        }

        .content {
            text-align: left;
            grid-column: 1;
            grid-row: 2;

            p {
                font-size: 18px;
                line-height: 160%;
            }
            
            .store-buttons {
                flex-direction: row;
            }

            .store {
                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .discover-more {
                justify-content: flex-start;
                margin-bottom: 0;
                margin-top: 5rem;
            }


        }


        .images {
            display: block;
            grid-column: 2;
            grid-row: 1 / -1;
            
            .img-whole {
                width: 100%;
                height: 100%;
            }
        }
    }

    #how-does-it-work {
        padding-bottom: 5rem;

        .top-text {
            h1 {
                font-size: 40px;
            }
        }
        
        .images2 {
            gap: 7rem;

            .D-transfer, 
            .D-your-cards, 
            .D-my-budget {
                display: block;
            }
            .T-transfer1, 
            .T-your-cards, 
            .T-transfer2 {
                display: none;
            }
        }

        .bottom-text {
            h2 {
                font-size: 24px;
            }
    
            .tablet {
                display: none;
            }
            .desktop {
                display: block;
            }
        }
    }


}